/* scripts/codegen/gen-color.ts에 의해서 자동으로 채워져요. */

@import '../color.variable.css';
@import 'tailwindcss';

@theme {
  --color-opacity50: var(--opacity50);
  --color-opacity100: var(--opacity100);
  --color-opacity200: var(--opacity200);
  --color-opacity300: var(--opacity300);
  --color-opacity400: var(--opacity400);
  --color-opacity500: var(--opacity500);
  --color-opacity600: var(--opacity600);
  --color-opacity700: var(--opacity700);
  --color-opacity800: var(--opacity800);
  --color-opacity900: var(--opacity900);
  --color-grey50: var(--grey50);
  --color-grey100: var(--grey100);
  --color-grey200: var(--grey200);
  --color-grey300: var(--grey300);
  --color-grey400: var(--grey400);
  --color-grey500: var(--grey500);
  --color-grey600: var(--grey600);
  --color-grey700: var(--grey700);
  --color-grey800: var(--grey800);
  --color-grey900: var(--grey900);
  --color-greyOpacity50: var(--greyOpacity50);
  --color-greyOpacity100: var(--greyOpacity100);
  --color-greyOpacity200: var(--greyOpacity200);
  --color-greyOpacity300: var(--greyOpacity300);
  --color-greyOpacity400: var(--greyOpacity400);
  --color-greyOpacity500: var(--greyOpacity500);
  --color-greyOpacity600: var(--greyOpacity600);
  --color-greyOpacity700: var(--greyOpacity700);
  --color-greyOpacity800: var(--greyOpacity800);
  --color-greyOpacity900: var(--greyOpacity900);
  --color-blue50: var(--blue50);
  --color-blue100: var(--blue100);
  --color-blue200: var(--blue200);
  --color-blue300: var(--blue300);
  --color-blue400: var(--blue400);
  --color-blue500: var(--blue500);
  --color-blue600: var(--blue600);
  --color-blue700: var(--blue700);
  --color-blue800: var(--blue800);
  --color-blue900: var(--blue900);
  --color-blueOpacity50: var(--blueOpacity50);
  --color-blueOpacity100: var(--blueOpacity100);
  --color-blueOpacity200: var(--blueOpacity200);
  --color-red50: var(--red50);
  --color-red100: var(--red100);
  --color-red200: var(--red200);
  --color-red300: var(--red300);
  --color-red400: var(--red400);
  --color-red500: var(--red500);
  --color-red600: var(--red600);
  --color-red700: var(--red700);
  --color-red800: var(--red800);
  --color-red900: var(--red900);
  --color-redOpacity50: var(--redOpacity50);
  --color-redOpacity100: var(--redOpacity100);
  --color-redOpacity200: var(--redOpacity200);
  --color-orange50: var(--orange50);
  --color-orange100: var(--orange100);
  --color-orange200: var(--orange200);
  --color-orange300: var(--orange300);
  --color-orange400: var(--orange400);
  --color-orange500: var(--orange500);
  --color-orange600: var(--orange600);
  --color-orange700: var(--orange700);
  --color-orange800: var(--orange800);
  --color-orange900: var(--orange900);
  --color-yellow50: var(--yellow50);
  --color-yellow100: var(--yellow100);
  --color-yellow200: var(--yellow200);
  --color-yellow300: var(--yellow300);
  --color-yellow400: var(--yellow400);
  --color-yellow500: var(--yellow500);
  --color-yellow600: var(--yellow600);
  --color-yellow700: var(--yellow700);
  --color-yellow800: var(--yellow800);
  --color-yellow900: var(--yellow900);
  --color-yellowOpacity50: var(--yellowOpacity50);
  --color-yellowOpacity100: var(--yellowOpacity100);
  --color-yellowOpacity200: var(--yellowOpacity200);
  --color-green50: var(--green50);
  --color-green100: var(--green100);
  --color-green200: var(--green200);
  --color-green300: var(--green300);
  --color-green400: var(--green400);
  --color-green500: var(--green500);
  --color-green600: var(--green600);
  --color-green700: var(--green700);
  --color-green800: var(--green800);
  --color-green900: var(--green900);
  --color-greenOpacity50: var(--greenOpacity50);
  --color-teal50: var(--teal50);
  --color-teal100: var(--teal100);
  --color-teal200: var(--teal200);
  --color-teal300: var(--teal300);
  --color-teal400: var(--teal400);
  --color-teal500: var(--teal500);
  --color-teal600: var(--teal600);
  --color-teal700: var(--teal700);
  --color-teal800: var(--teal800);
  --color-teal900: var(--teal900);
  --color-purple50: var(--purple50);
  --color-purple100: var(--purple100);
  --color-purple200: var(--purple200);
  --color-purple300: var(--purple300);
  --color-purple400: var(--purple400);
  --color-purple500: var(--purple500);
  --color-purple600: var(--purple600);
  --color-purple700: var(--purple700);
  --color-purple800: var(--purple800);
  --color-purple900: var(--purple900);
  --color-greyBackground: var(--greyBackground);
  --color-background: var(--background);
  --color-noiseBackgroundInverted: var(--noiseBackgroundInverted);
  --color-neutral: var(--neutral);
  --color-neutralMuted: var(--neutralMuted);
  --color-neutralSubtle: var(--neutralSubtle);
  --color-neutralPlaceholder: var(--neutralPlaceholder);
  --color-brandPrimary: var(--brandPrimary);
  --color-brandDisabled: var(--brandDisabled);
  --color-brandHover: var(--brandHover);
  --color-negative: var(--negative);
}